/* ======Обнуление====== */
@import './lib/null.scss';
/* ======/Обнуление====== */

/* ======Миксины====== */
@import './lib/mixins.scss';
/* ======/Миксины====== */

/* ======Шрифты====== */
@import './lib/fonts.scss';
/* ======/Шрифты====== */

/* ======Переменные====== */
@import './lib/variables.scss';

$font: Roboto;
$dfont: 16px;

/* ======/Переменные====== */

/* ======Файлы страниц======= */
@import './lib/homepage.scss';
@import './lib/header.scss';
@import './lib/footer.scss';
/* ======/Файлы страниц======= */


body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: $maxWidthContainer + px;
}